{% load static %}
<!--footer--------------->
<footer>
	<!--heading-->
 <p class="section-main-title">Residêncial <strong>Ônix </strong>Gama</p>
	<!--paragraph-->
	<p>Quadra 04 conjunto F Lote 11, Setor Sul, Gama - Distrito Federal, CEP 72415-206</p>
	<!--social-->
   <div class="social-icons">
   <a href="#"><i class="fab fa-facebook-f"></i></a>
   <a href="#"><i class="fab fa-twitter"></i></a>
   <a href="#"><i class="fab fa-instagram"></i></a>
   <a href="#"><i class="fab fa-youtube"></i></a>
   </div>
	<!--copyright-->
	<p class="copyright">Copyright by Goin-To Internet</p>
</footer>

<!-- //footer -->
  
  