{% extends 'management/base.html' %}
{% load static %}




{% block dashboad %}
<link rel="stylesheet" href="{% static 'css/condominio.css' %}">



<section class="section">

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Dashboard</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Condominio</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-hotel"></i>
    </div>
</div>
</section>


<div class="section-body">
   {% for residencial in residenciais %}
  <div class="col-md-12">
    <div class="wrapper">
       <div class="row">
        <div class="icon dots float-right"><i class="fas fa-ellipsis-v"></i></div>
          <div class="com-md-4">                  
             <div class="img-area">
                <div class="inner-area">
                  <img src="{{ residencial.img }}" alt="">
                </div>
              </div>
          </div>
          <div class="col-12 col-md-9 col-sm-8">         
             <div class="name "><img width="60" src="{{ residencial.logo.url }}" alt=""> <span class="nome ">{{ residencial.nome }}</span></div>
             <div class="about mb-2">Início das Atividades: {{ residencial.start_of_activities |date}} </div>
             <div class="about mb-2">Síndico Autal: {{  residencial.administradores }}  </div>
             <div class="about mb-2">Status {% if residencial.is_active == True %}
             <span class="text-success">Ativo</span>{% else %} <span class="text-danger">Não Ativo</span>{% endif %} </div> 
             <div class="social-icons">
             <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
             <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
             <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
             <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
             </div>
             <div class="buttons">
             <a href="{% url 'condominio:taxas_ordinaria' %}"><button>Taxas Ordinária</button></a>
             <a href="{% url 'condominio:taxas_extraordinaria' %}"><button>Taxas ExtraOrdinária</button></a>
             </div>                                      
          </div>
          <div class="col-12 col-md-12 col-sm-12 mt-5">
             <div class="social-share">
                <div class="row">               
                   <span>20<span> Projetos completos</span></span>
                </div>
                <div class="row"> 
                  {% if residencial.caixa < 0 %}              
                   R$ <span class="text-danger">  {{ residencial.caixa }}<span> Saldo total do Caixa</span></span>
                   {% elif residencial.caixa > 0 %}
                   R$ <span class="text-success">+ {{ residencial.caixa }}<span> Saldo total do Caixa</span></span>
                   {% else %}
                   R$ <span class="text-dark">{{ residencial.caixa }}<span> Saldo total do Caixa</span></span>
                   {% endif %}
                </div>
                <div class="row"> 
                  {% for banco in bancos %}             
                  {% if banco.saldo < 0 %}              
                  R$ <span class="text-danger">- {{ banco.saldo }}<span> Saldo total do Banco</span></span>
                  {% elif banco.saldo > 0 %}
                  R$ <span class="text-success">+ {{ banco.saldo }}<span> Saldo total do Banco</span></span>
                  {% else %}
                  R$ <span class="text-dark">{{ banco.saldo }}<span> Saldo total do Banco</span></span>
                  {% endif %}
                   {% endfor %}
                   
                </div>
                </div> 
          </div>
          <br><br>
          <div class="col-12 col-md-12 col-sm-12 mt-5">
             <div class="name info-basic">Informações Basícas</div> 
             <div class="row">
                <div class="col-6 col-md-6 col-sm-6">                       
                   <div class="about mb-2">Nome: {{ residencial.nome}} </div> 
                   <div class="about mb-2">Início das Atividades: {{ residencial.start_of_activities |date}} </div> 
                   <div class="about mb-2">Tipo de Condominio: {{ residencial.main_activity }} </div>  
                   <div class="about mb-2 text-justify">Descrição: {{ residencial.descritpion }} </div>                  
                   <div class="about mb-2">CNPJ: {{  residencial.cnpj  }} </div>
                   {% if residencial.inscricao_estatual == '0' %}  
                   <div class="about mb-2">Inscrição Estadual: <span class="text-success">Isento</span> </div> 
                   {% else %}
                   <div class="about mb-2">Inscrição Estadual: {{ residencial.inscricao_estatual }} </div> 
                   {% endif %}
                   <div class="about mb-2">Email: {{ residencial.email}} </div>
                   <div class="about mb-2">UF: {{ residencial.uf}} </div>    
                </div>
                <div class="col-6 col-md-6 col-sm-6">
                   <div class="about mb-2">Endereço: {{ residencial.address }} </div>  
                   <div class="about mb-2">Cidade: {{ residencial.city }} </div> 
                   <div class="about mb-2">Estado: {{ residencial.state }} </div> 
                   <div class="about mb-2">CEP: {{ residencial.cep }} </div>
                   <div class="about mb-2">Telefone: +55 {{ residencial.phone }} </div> 
                   {% if residencial.receitas > 0 %} 
                   <div class="about mb-2 ">Receitas R$: <span class=" text-success"> + {{ residencial.receitas }}</span>  </div>
                   {% elif residencial.receitas < 0 %}
                   <div class="about mb-2 ">Receitas R$: <span class="text-danger"> - {{ residencial.receitas }}</span> </div>
                   {% else %}
                   <div class="about mb-2">Receita R$: {{ residencial.receitas }} </div>
                   {% endif %}
                   {% if residencial.despesas == 0 %} 
                   <div class="about mb-2 ">Despesa R$: {{ residencial.despesas }} </div>
                   {% else %}
                   <div class="about mb-2 ">Despesas R$: <span class="text-danger">- {{ residencial.despesas }} </span> </div>
                   {% endif %}
                   {% if residencial.inadimplencia == 0 %}
                   <div class="about mb-2">Inadinplência R$: <span class="text-danger">{{ residencial.inadimplencia }}</span> </div> 
                   {% else %}
                   <div class="about mb-2">Inadinplência R$: <span >{{ residencial.inadinplencia }} </span></div> 
                   {% endif %}
                   {% if residencial.caixa < 0 %}              
                   <div class="about mb-2 ">Total do Caixa R$: <span class="text-danger"> {{ residencial.caixa }} </span> </div>
                   {% elif residencial.caixa > 0 %}
                   <div class="about mb-2 ">Saldo total do Caixa R$: <span class="text-success">+ {{ residencial.caixa }} </span> </div>
                   {% else %}
                   <div class="about mb-2 ">Saldo total do Caixa R$: <span >{{ residencial.caixa }} </span> </div>
                   {% endif %}
                   {% if residencial.valor_taxa > 0 %}
                   <div class="about mb-2 ">Taxa de Condominial Ordinária R$: <span class="text-success">+ {{ residencial.valor_taxa }} </span></div>
                   {% else %}
                   <div class="about mb-2 ">Taxa de Condominial Ordinária  R$: <span class="">{{ residencial.valor_taxa }} </span></div>                   
                   {% endif %}
                   {% if residencial.valor_taxa_extra > 0 %}
                   <div class="about mb-2 ">Taxa de Condominial Extra Ordinária  R$: <span class="text-success"> + {{ residencial.taxa_extra_ordinaria  }} </span></div>
                   {% else %}
                   <div class="about mb-2 ">Taxa de Condominial Extra Ordinária  R$: <span class="">{{ residencial.taxa_extra_ordinaria  }} </span></div>
                   {% endif %}
                   {% if residencial.fundo_de_reserva > 0 %}
                   <div class="about mb-2 ">Fundo de Reserva R$: <span class="text-success"> + {{ residencial.fundo_de_reserva  }} </span></div>
                   {% else %}
                   <div class="about mb-2 ">Fundo de Reserva R$: <span class="">{{ residencial.fundo_de_reserva  }} </span></div>
                   {% endif %}
                   {% if residencial.valor_total > 0 %}
                   <div class="about mb-2 ">Valor total da Taxa R$: <span class="text-success"> + {{ residencial.valor_total  }} </span></div>
                   {% else %}
                   <div class="about mb-2 ">Valor total da Taxa R$: <span class="text-dark">{{ residencial.valor_total  }} </span></div>
                   {% endif %}
                </div>
             </div>          
          </div>
       </div>        
     </div>
 </div> 
 {% endfor %}
</div>



{% endblock %}