{% extends 'management/base.html' %}
{% load static %}





{% block dashboad %}
<section class="section">

    <div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Bancos</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Contas</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="far fa-credit-card"></i>
    </div>
    </div>  
</section>

<div class="section-body">
    {% if conta_corrente %}
    {% for conta in  conta_corrente %}
        <div class="col-md-12 mb-5 mt-5">
        <div class="wrapper">
           <div class="row">
            <div class="icon dots float-right"><i class="fas fa-ellipsis-v"></i></div>
              <div class="com-md-4">                  
                 <div class="img-area">
                    <div class="inner-area">
                         {% if conta.agencia.img %}
                        <img src="{{ conta.agencia.img }}" alt="">
                        {% else %}
                        <img src="https://img.icons8.com/emoji/452/bank-emoji.png" alt="">
                        {% endif %}
                    </div>
                  </div>
              </div>
              <div class="col-12 col-md-9 col-sm-8">        
                <div class="name ">{{ conta.agencia.nome }}</div>
                <div class="about mb-2">Código do banco <span class="ml-2">{{ conta.agencia.id }}</span></div>
                <div class="about mb-2"> Código do ISPB do Banco:<span class="ml-2">{{ conta.agencia.ispb }}</span> </div>            
                <div class="about mb-2">Agência<spam class="ml-2">{{ conta.agencia.agencia }}</spam></div>
                <div class="about mb-2">Numero da Conta:<spam class="ml-2">{{ conta.id }}</spam></div>
                <div class="about mb-2">Tipo de Conta: <spam class="ml-2">{{ conta.tipo }}</spam></div>
                <div class="about mb-2">Data da Abertura: <spam class="ml-2">{{ conta.criada |date }}</spam></div>
                <div class="about mb-4">Estilo da Conta: <spam class="ml-2">{{ conta.estilo |title}}</spam></div>
                <div class="about mb-4">Responsável: <spam class="ml-2">{{ conta.sindico |title}}</spam></div>
                <div class="buttons">
                 <a href="{% url 'financeiro:extrato_conta' conta.id %}"><button>Extrato</button></a> 
                 <a href="#"><button>Extrato Por Períodos</button></a> 
                 <a href="{% url 'financeiro:deposito' conta.id %}"><button>Despósito</button></a>                
                </div>                                      
              </div>
              <div class="col-12 col-md-12 col-sm-12 mt-5">
                <div class="social-share">
                  <div class="row">
                    {% if conta.debitos > 0 %}                
                    R$ + <span class="text-success">{{ conta.debitos }}<span> Débitos</span></span>
                    {% elif conta.debitos < 0 %}
                    R$ - <span class="text-danger">{{ conta.debitos }}<span> Débitos</span></span>
                    {% else %}
                    R$ <span class="text-dark">{{ conta.debitos }}<span> Débitos</span></span>
                    {% endif %}
                 </div>
                 <div class="row"> 
                  {% if conta.creditos > 0 %}              
                  R$ + <span class="text-success">{{ conta.creditos }}<span > Créditos</span></span>
                  {% elif conta.creditos < 0 %}
                  R$ <span class="text-danger">{{ conta.creditos }}<span> Créditos</span></span>
                  {% else %}
                  R$ <span class="text-dark">{{ conta.creditos }}<span> Créditos</span></span>
                  {% endif %}
               </div>                   
                   <div class="row">  
                    {% if conta.saldo > 0 %}                                                       
                      R$<span class="text-success"> {{ conta.saldo }} <span> Saldo em <span id="data_atual"></span></span></span>
                    {% elif conta.saldo < 0 %}
                    R$<span class="text-danger"> {{ conta.saldo }} <span> Saldo em <span id="data_atual"></span></span></span>
                    {% else %}
                    R$<span class="text-dark"> {{ conta.saldo }} <span> Saldo em <span id="data_atual"></span></span></span>

                    {% endif %}
                   </div>
                   
                   </div> 
             </div>    
           </div>        
         </div>
        </div>
    {% endfor %}    
    {% else %}
    <div class="col-12 col-md-12 col-sm-12">                
        <div class="card">
          <div class="card-header">
            <h4>Ops....</h4>
          </div>
          <div class="card-body">
            <div class="empty-state" data-height="600">
              <img class="img-fluid" width="400" src="{% static 'assets/img/drawkit/drawkit-full-stack-man-colour.svg' %}" alt="image">
              <h2 class="mt-0">Não tem nenhuma Conta cadastrada para este Condominio no Banco</h2>
              <p class="lead">
                <strong>{{ user }}</strong> tem que cadastrar uma <strong class="text-success">Conta </strong> para começar usar os recurso do sistema de gestão analytics de condominio.
              </p>
              <a href="{% url 'financeiro:adicionar_contas' %}" class="btn btn-warning mt-4">Cadastrar</a>                      
            </div>
          </div>
        </div>
    </div> 
    {% endif %}
    {% if conta_poupanca %}
    {% for conta in  conta_poupanca %}
        <div class="col-md-12 mb-5 mt-5">
        <div class="wrapper">
           <div class="row">
            <div class="icon dots float-right"><i class="fas fa-ellipsis-v"></i></div>
              <div class="com-md-4">                  
                 <div class="img-area">
                    <div class="inner-area">
                         {% if conta.agencia.img %}
                        <img src="{{ conta.agencia.img }}" alt="">
                        {% else %}
                        <img src="https://img.icons8.com/emoji/452/bank-emoji.png" alt="">
                        {% endif %}
                    </div>
                  </div>
              </div>
              <div class="col-12 col-md-9 col-sm-8">        
                <div class="name ">{{ conta.agencia.nome }}</div>
                <div class="about mb-2">Código do banco <span class="ml-2">{{ conta.agencia.id }}</span></div>
                <div class="about mb-2"> Código do ISPB do Banco:<span class="ml-2">{{ conta.agencia.ispb }}</span> </div>            
                <div class="about mb-2">Agência<spam class="ml-2">{{ conta.agencia.agencia }}</spam></div>
                <div class="about mb-2">Numero da Conta:<spam class="ml-2">{{ conta.id }}</spam></div>
                <div class="about mb-2">Tipo de Conta: <spam class="ml-2">{{ conta.tipo }}</spam></div>
                <div class="about mb-2">Data da Abertura: <spam class="ml-2">{{ conta.criada |date }}</spam></div>
                <div class="about mb-2">Estilo da Conta: <spam class="ml-2">{{ conta.estilo |title}}</spam></div>
                <div class="about mb-4">Responsável: <spam class="ml-2">{{ conta.sindico |title}}</spam></div>
                <div class="buttons">
                 <a href="{% url 'financeiro:extrato_conta' conta.id %}"><button>Extrato</button></a> 
                 <a href="#"><button>Extrato Por Períodos</button></a> 
                 <a href="{% url 'financeiro:deposito' conta.id %}"><button>Despósito</button></a>                
                </div>                                      
              </div>
              <div class="col-12 col-md-12 col-sm-12 mt-5">
                <div class="social-share">
                  <div class="row">
                    {% if conta.debitos > 0 %}                
                    R$ + <span class="text-success mr-2">{{ conta.debitos }}<span> Débitos</span></span>
                    {% elif conta.debitos < 0 %}
                    R$ - <span class="text-danger">{{ conta.debitos }}<span> Débitos</span></span>
                    {% else %}
                    R$ <span class="text-dark">{{ conta.debitos }}<span> Débitos</span></span>
                    {% endif %}
                 </div>
                 <div class="row"> 
                  {% if conta.creditos > 0 %}              
                  R$ + <span class="text-success">{{ conta.creditos }}<span> Créditos</span></span>
                  {% elif conta.creditos < 0 %}
                  R$ <span class="text-danger"> {{ conta.creditos }}<span> Créditos</span></span>
                  {% else %}
                  R$ <span class="text-dark"> {{ conta.creditos }}<span> Créditos</span></span>
                  {% endif %}
               </div>                   
                   <div class="row">  
                    {% if conta.saldo > 0 %}                                                       
                      R$<span class="text-success"> {{ conta.saldo }}<span>Saldo em <span id="data_atual"></span></span></span>
                    {% elif conta.saldo < 0 %}
                    R$<span class="text-danger"> {{ conta.saldo }}<span>Saldo em <span id="data_atual"></span></span></span>
                    {% else %}
                    R$<span class="text-dark"> {{ conta.saldo }}<span>Saldo em <span id="data_atual"></span></span></span>

                    {% endif %}
                   </div>
                   
                   </div> 
             </div>    
           </div>        
         </div>
        </div>
    {% endfor %}    
    {% else %}
    <div class="col-12 col-md-12 col-sm-12">                
        <div class="card">
          <div class="card-header">
            <h4>Ops....</h4>
          </div>
          <div class="card-body">
            <div class="empty-state" data-height="600">
              <img class="img-fluid" width="400" src="{% static 'assets/img/drawkit/drawkit-full-stack-man-colour.svg' %}" alt="image">
              <h2 class="mt-0">Não tem nenhuma Conta cadastrada para este Condominio no Banco</h2>
              <p class="lead">
                <strong>{{ user }}</strong> tem que cadastrar uma <strong class="text-success">Conta </strong> para começar usar os recurso do sistema de gestão analytics de condominio.
              </p>
              <a href="{% url 'financeiro:adicionar_contas' %}" class="btn btn-warning mt-4">Cadastrar</a>                      
            </div>
          </div>
        </div>
    </div> 
    {% endif %}
 </div>



 <script>
   var data = new Date();

    var dia = String(data.getDate()).padStart(2, '0');

    var mes = String(data.getMonth() + 1).padStart(2, '0');

    var ano = data.getFullYear();

    data_Atual = dia + '/' + mes + '/' + ano;

    document.getElementById("data_atual").innerHTML = data_Atual;
 </script>
{% endblock %}


